*{
  margin:0;
  padding:0;
}
.contenedor{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cajas{
  display: flex;
  justify-content: center;
  align-items: center;
  width:200px;
  height: 200px;
  background-color: rgb(67, 85, 201);
  font-size: 60px;
  color: #fff;
  transition: .7s;
}
.cajaActiva{
  background-color: red;
  border-radius: 50px;
  transition: .9s;
  display: flex;
  justify-content: center;
  align-items: center;
  width:200px;
  height: 200px;
  font-size: 60px;
  color: #fff;
  transform: translateX(20px) translateY(-10px);
}